# Python
venv/
*.pyc
__pycache__/
*.pyo
*.pyd

# Environment files
.env
*.env

# ML Models and Data
models/
datasets/processed/

# 特定のファイルを除外
!uploads/original_filenames.json

# IDE files
.vscode/
.idea/

# MacOS
.DS_Store

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints/
